<div style="background:#e2e2e2; width: 180px; position: relative">

    <input class="combo" type="text" style="width:100%" ng-blur="closeCombo()" ng-value="comboValue">

    <div style="position: absolute; top: 20px">
        <div ng-if="flag" ng-repeat="item in data" style="width: 100%;" ng-mousedown="selectItem(item)">
            <b style="color: blue;">{{item.Name}}</b>
        </div>

        <div ng-if="flag">
            <button class="noBlur">Previous</button>
            <button class="noBlur">Next</button>
        </div>

    </div>
</div>